<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" routerLink='board' (click)="goPage('board')">Start LookCar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" routerLink='Home' (click)="goPage('Home')">Home</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">MyPage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>룩카에 오신것을 환영합니다.</h1>
      <p class="lead">고객님들을 위해서 최선을 다해 열심히 뛰겠습니다.</p>
    </div>
  </header>
<table class="table table-bordered">
  <thead>
      <tr>
          <th scope='col'>No</th>
          <th scope='col'>제조회사</th>
          <th scope='col'>제조나라</th>         
          <th scope='col'>차종</th>
          <th scope='col'>모델명</th>
          <th scope='col'>제조년도</th>
          <th scope='col'>배기량</th>       
          <th scope='col'>출고가(만원)</th>
          <th scope='col'>주유타입</th>
          <th scope='col'>구동방식</th>
          <th scope='col'>승차인원</th>
      </tr>
  </thead>
  <tbody>
      <tr>
        <td>{{carList.carNo}}</td>
        <td><input type="text" id="carCompany" [(ngModel)]="update.carCompany" placeholder="제조회사"
          style="width:150px"></td>
        <td><input type="text" id="carCountry" [(ngModel)]="update.carCountry" placeholder="제조국가"
          style="width:100px"></td>
        <td><input type="text" id="carType" [(ngModel)]="update.carType" placeholder="차종"
          style="width:100px"></td>
        <td><input type="text" id="carModel" [(ngModel)]="update.carModel" placeholder="차모델"
          style="width:100px"></td>
        <td><input type="text" id="carYear" [(ngModel)]="update.carYear" placeholder="제조년도"
          style="width:100px"></td>
        <td><input type="text" id="carEngine" [(ngModel)]="update.carEngine" placeholder="배기량"
          style="width:100px"></td>
        <td><input type="text" id="carSale" [(ngModel)]="update.carSale" placeholder="판매가격"
          style="width:100px"></td>
        <td><input type="text" id="carOil" [(ngModel)]="update.carOil" placeholder="주유타입"
          style="width:100px"></td>
        <td><input type="text" id="carMethod" [(ngModel)]="update.carMethod" placeholder="구동방식"
          style="width:100px"></td>
        <td><input type="text" id="carPerson" [(ngModel)]="update.carPerson" placeholder="인승"
          style="width:100px"></td>
      </tr>
    </tbody>
</table>
<div align="center">
    <button type="button" (click)="doUpdate()" class="btn btn-primary">수정하기</button>
    <button type="button" (click)="goPage('board')" class="btn btn-primary">돌아가기</button>
  </div>